<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/netcracker</property>
      <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name="hibernate.connection.username">postgres</property>
      <property name="hibernate.connection.password">root</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
      <mapping class="org.my.adventure.dao_manager.api.entities.Action"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Game"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Item"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Node"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Quest"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Resource"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.SavedItem"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.SavedStat"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Stat"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.Transition"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.User"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.UserRole"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.TypeOfAction"/>
      <mapping class="org.my.adventure.dao_manager.api.entities.TypeOfResource"/>
  </session-factory>
</hibernate-configuration>